*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}
