// _breakpoints.scss
$breakpoints: (
  xs: 480px,   // XS phones
  sm: 576px,   // Small phones
  md: 768px,   // Medium (mobile)
  lg: 1024px,  // Large (tablet)
  xl: 1200px,   // XL (desktop)
  xxl: 1400px    // Very large screens (e.g. 22"+)
);

@mixin respond-to($bp) {
  @if map-has-key($breakpoints, $bp) {
    @media (max-width: map-get($breakpoints, $bp)) {
      @content;
    }
  } @else {
    @warn "Breakpoint not found: #{$bp}. Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}