// Colors
$primary: #da1a35;
$secondary: #221f20;
$white: #ffffff;
$neutral-grey-2: #5F5E5E;
$light-grey: #fafafa;

// Breakpoints
$xl: 1200px;   // Large desktops
$lg: 1024px;   // Tablets
$md: 768px;   // Mobiles
$sm: 576px;   // Small phones
$xs: 480px;   // Extra small phones


